mixin rate-button(params)
    +b.rate-button
        if(params.star1 = "true")
            +e.INPUT.input(type="radio" name=params.name value="1" checked="checked")
        if(params.star1 = "false")
            +e.INPUT.input(type="radio" name=params.name value="1")
        if(params.star2 = "true")
            +e.INPUT.input(type="radio" name=params.name value="2" checked="checked")
        if(params.star2 = "false")
            +e.INPUT.input(type="radio" name=params.name value="2")
        if(params.star3 = "true")
            +e.INPUT.input(type="radio" name=params.name value="3" checked="checked")
        if(params.star3 = "false")
            +e.INPUT.input(type="radio" name=params.name value="3")
        if(params.star4 = "true")
            +e.INPUT.input(type="radio" name=params.name value="4" checked="checked")
        if(params.star4 = "false")
            +e.INPUT.input(type="radio" name=params.name value="4")
        if(params.star5 = "true")
            +e.INPUT.input(type="radio" name=params.name value="5" checked="checked")
        if(params.star5 = "false")
            +e.INPUT.input(type="radio" name=params.name value="5")